{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <form action="{% url 'edit' %}" method="GET">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ title }}">
        <input id="edit-entry"class="btn btn-secondary" 
        type="submit" value="Edit this entry">
    </form>
    {% if title == "Not found" %}
        <h1>
            The entry "{{ entry }}" does not exist.
        </h1>
    {% else %}
        <!-- safe filter allows for an HTML string to be outputted -->
        {{ entry|safe }}
    {% endif %}

{% endblock %}