{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if all %}
    <h1>All Pages</h1>
    {% else %}
    <h1>Search Results for {{ query }}</h1>
    {% endif %}

    <ul>
        {% if entries %}
            {% for entry in entries %}
            <li>
                <a href="{% url 'titles' entry %}">{{ entry }}</a>
            </li>
            {% endfor %}
        {% else %}
            <li>
                No entries found.
            </li>
        {% endif %}
    </ul>

{% endblock %}