{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if message %}
        {{ message }}
    {% endif %}

    {% if not search %}
        <h1>All Pages</h1>
    {% else %}
        <h1>Search Results for {{ query }}</h1>
    {% endif %}

    <div id="all-entries" class="list-group list-group-flush">
        {% if entries %}
            {% for entry in entries %}
            <a class="list-group-item list-group-item-action"
            href="{% url 'titles' entry %}">
                <b>
                    {{ entry }}
                </b>
            </a>
            {% endfor %}
        {% else %}
            <p>
                No entries found.
            </p>
        {% endif %}
    </div>

{% endblock %}